[bed_mesh]
speed: 300
horizontal_move_z: 10 #Positive value equal to z_offset or larger. eg: if z_offset is -2.5 this must be at least 2.5 or larger
mesh_min: 10,10
mesh_max: 230,208
probe_count: 5,5
zero_reference_position: 117.5, 117.5#for 235x235 bed. adapt to your bed size if needed. same for mesh min and max above
algorithm: bicubic
fade_start: 1
fade_end: 10
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
split_delta_z: 0.015
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
move_check_distance: 3
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 4,4
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
#bicubic_tension: .2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.

[screws_tilt_adjust] #Change to your specific printer is needed. Back left screw as referance point and that's where strain relief is is recommended
screw1: 32.5, 202.5 
screw1_name: Back left
screw2: 32.5, 32.5
screw2_name: Front left
screw3: 202.5,117.5
screw3_name: Middle right
screw_thread: CW-M4 #Ender 3s use CW-M4 change for your printer if needed
horizontal_move_z: 10
# To calculate the position of your screws:
# Screw Offsets: 32.5mm for ender 3 beds
# Default Klack probe offsets: X: 4, Y: 21
#Back left	
#   X: 0 + screw_x_offset - probe.x_offset	
#   Y: 235 - screw_y_offset - probe.y_offset
#Front left	
#   X: 0 + screw_x_offset - probe.x_offset	
#   Y: 0 + screw_y_offset - probe.y_offset
#Front right 
#   X: 115 - screw_x_offset - probe.x_offset	
#   Y: 0 + screw_y_offset - probe.y_offset
# x and y offsets are usually the same. You will have to find info on your printer or measure them yourself
# This can be adapted for three screw bed as well without eny problem. In that case X offset of the third screw 
# would be build volume divided by 2

[gcode_macro SCREWS_TILT_CALCULATE]
rename_existing: _SCREWS_TILT_CALCULATE
description:
gcode:
    { action_respond_info("Screws Tilt Adjust") }

    _CheckProbe action=query
	G90
    probe_out

    _Center_Nozzle

    _SCREWS_TILT_CALCULATE {% for p in params
          %}{'%s=%s ' % (p, params[p])}{%
         endfor %}

    probe_in