
# ========== Back Tap Probe ============
# [include macros/homing_back_tap.cfg]
[include macros/firmware_restart.cfg]
[include macros/print_start.cfg]
[include macros/print_end.cfg]
[include macros/filament_change.cfg]
[include macros/nozzle_wipe.cfg]
# [include macros/test_speed.cfg]
[include macros/ellis_test_speed.cfg]

[gcode_macro POOPY]
gcode:
  SAVE_GCODE_STATE NAME=poopy
  G0 X4 Y4 F10000
  G0 Z0.4
  G91
  G1 X100 E20 F1000
  RESTORE_GCODE_STATE NAME=poopy
  
[gcode_macro Z_OFFSET]
gcode:
  G28
  PROBE_CALIBRATE

[gcode_macro Z_OFFSET_SAVE]
gcode:
  SAVE_CONFIG

[gcode_macro DISABLE_MOTORS]
description: Temporarily disable all motors.
gcode:
      M18

[gcode_macro SHOW_COORDINATES]
description: Show the coordinates of all axis.
gcode:
      M114

[gcode_macro SET_Z_FROM_PROBE]
gcode:
    {% set cf = printer.configfile.settings %}
    SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}
    G90
    G1 Z{cf.safe_z_home.z_hop}



[gcode_macro Z_OFFSET_APPLY_PROBE]
rename_existing: Z_OFFSET_APPLY_PROBE_ORIG
gcode:
 SAVE_VARIABLE VARIABLE=nvm_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset }