
# ========== Back Tap Probe ============
# [include macros/homing_back_tap.cfg]
[include macros/firmware_restart.cfg]
[include macros/print_start.cfg]
[include macros/print_end.cfg]
[include macros/filament_change.cfg]
[include macros/nozzle_wipe.cfg]
# [include macros/test_speed.cfg]
[include macros/ellis_test_speed.cfg]
