[gcode_macro _HOME_X]
gcode:
    # {% set HOME_CUR = 0.700 %}
    # {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    # {% set RUN_CUR = driver_config.run_current %}
    # Set current for sensorless homing
    # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear
    G4 P400
    # Home
    G28 X0
    # Move away
    G90
    G1 X5 F1200
    # Set current during print
    # SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR}

[gcode_macro _HOME_Y]
gcode:
    # {% set HOME_CUR = 0.700 %}
    # {% set driver_config = printer.configfile.settings['tmc2209 stepper_y'] %}
    # {% set RUN_CUR = driver_config.run_current %}
    # # Set current for sensorless homing
    # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
    # Pause to ensure driver stall flag is clear

    G4 P400
    # Home
    G28 Y0
    # Move away
    G90
    G1 Y5 F1200
    # Set current during print
    # SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR}

[gcode_macro _HOME_Z]
gcode:
    M109 S170
    G1 X117.5 Y117.5 F6000
    G28 Z
    G1 Z5


# [homing_override]
# set_position_z:0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
# axes: xyz
# gcode:
#   {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

#   {% if home_all or 'X' in params %}
#     _HOME_X
#   {% endif %}
  
#   {% if home_all or 'Y' in params %}
#     _HOME_Y
#   {% endif %}
  
#   {% if home_all or 'Z' in params %}
#     _HOME_Z
#   {% endif %}
[homing_override]
set_position_z:0 # Make printer think Z axis is at zero, so we can force a move upwards away from build plate
gcode:
    G90
    
    G1 Z10 F3000 ; move up to prevent accidentally scratching build plate    
    G28 X
    G28 Y
    #PROBE_OUT #COMMENT OUT OR REMOVE AS IT IS NO LONGER NEEDED FOR HOMING
    G1 X117.5 Y117.5 F6000 #THE POSITION IN X,Y OF YOUR NOZZLE OVER THE SEXBOLT
    G28 Z #Z WILL NOW HOME ON THE SEXBOLT VIA THE NOZZLE
    G1 Z6 F3000
    # G1 X117 Y117 F6000
    #PROBE_IN #COMMENT OUT OR REMOVE


[gcode_macro AUTO_BED_MESH]
gcode:
    BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}

[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE PRINT_MIN={params.PRINT_MIN} PRINT_MAX={params.PRINT_MAX}

[gcode_macro Z_OFFSET]
gcode:
    G28 Z
    G1 X117 Y117 F6000
    G1 Z10
[gcode_macro Accuracy_Test]
gcode:
    G90
    G1 Y120 X120 F20000
    PROBE_ACCURACY
