#------------ Klackender probe --------------------
[include ../macros/klackender.cfg]
[include ../macros/homing_klackender.cfg]

#####################################################################
# KlackEnder- Settings
#####################################################################

# !! Change your Z endstop pin from 'endstop_pin: Pin123' to 'endstop_pin: probe:z_virtual_endstop'
# !! Also add in [stepper_y] 'position_min: -8'. Idk why but most configs have this wrong. For the Stock Ender 3 the homed Y position is -8.

[probe]
pin: ^EBBCan: PB8 #Change to where you plug your probe in, endstop or probe pin pulled high (^)
z_offset: 0 #Measure per your specific setup. Klipper will NOT save this value if this in not located in printer.cfg
x_offset: 0 # negative = left of the nozzle
y_offset: 34 # negative = in front of of the nozzle
speed: 5.0
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6
