#------------ Klackender probe --------------------
[include ../macros/klackender.cfg]

# [include ../Klack-Probe-Macros/klack-probe.cfg]
[include ../macros/homing_klackender.cfg]
[probe]
pin: ^EBBCan: PB8 #Probe-Stop Connection on Skr Mini Pro V1.2
# pin: ^PD2
#control_pin:PB5
# z_offset: 5.4 #Measure per your specific setup Mini SB

# x_offset: 22 # negative = left of the nozzle
# y_offset: 53 # negative = in front of of the nozzle
x_offset: 15 # negative = left of the nozzle
y_offset: 26 # negative = in front of of the nozzle
speed: 5
lift_speed: 15.0
sample_retract_dist: 1
samples: 2
samples_tolerance_retries: 6

# [gcode_macro _KAMP_Settings]
# # The following variables are for those with a dockable probe like Klicky, Euclid, etc.                 # ----------------  Attach Macro | Detach Macro
# variable_probe_dock_enable: True  
