[include dragonburner_leds.cfg]
[mcu EBBCan]
#serial: /dev/serial/by-id/usb-Klipper_rp2040_4550357127901338-if00
canbus_uuid: 79313d0e5b3f

[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
heater_pin: EBBCan: PB13
sensor_pin: EBBCan: PA3
control: pid
pid_Kp: 32.699 
pid_Ki: 7.785
pid_Kd: 34.335
min_temp: 0
max_temp: 270
microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 50:8
rotation_distance: 28.80106
nozzle_diameter: 0.400
filament_diameter: 1.750


sensor_type: EPCOS 100K B57560G104F? # round extruder
pressure_advance: 0.03
min_extrude_temp: 0
max_extrude_only_distance: 120
max_extrude_cross_section: 5

[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.35
interpolate: True

##  Part Cooling Fan - FAN0
[fan]
pin: EBBCan: PA1

##  Hotend Fan - FAN1
[heater_fan heatbreak_cooling_fan]
pin: EBBCan: PA0
heater: extruder
heater_temp: 50

[neopixel sb_leds]
pin: EBBCan:PD3

[temperature_sensor EBBCan]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 100

[adxl345]
cs_pin: EBBCan:PB12
spi_software_sclk_pin: EBBCan:PB10
spi_software_mosi_pin: EBBCan:PB11
spi_software_miso_pin: EBBCan:PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points: 175,175,20

